<div class="container">
  
  <form method="post" action="/cargar">
    <div class="form-group">
      <input name="title" type="text" class="form-control" placeholder="Tarea">
    </div>
    <button type="submit" class="btn btn-success btn-sm">Cargar</button>
  </form>
  <br></br>  
  
  <% tasks.each do |task| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="/tasks/<%= task.id %>"><%= task.title %> </a>
        
        <form method="post" action="/status_change_at_home">
          <input type="hidden" value="<%= task.id %>" name="task_id">  
          <div class="form-group">
          </div>

          <button type="submit" class="btn btn-default pull-right">
            <% if task.status == "done" %>
              <span class="glyphicon glyphicon-ok-circle"></span> Done
              <% else %>
                <span class="glyphicon glyphicon-remove-circle"></span> To Do
              <% end %>
          </button> 
        </form> 
      </div>
    </div>
  <% end %>
</div>